@font-face {
  font-family: "Apple Chancery";
  src: url('../fonts/apple_chancery-webfont.woff2') format('woff2'),
       url('../fonts/apple_chancery-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal ;
}

.logo-txt {
    font-family: 'Times New Roman',Cinzel;
    font-weight: 700;
    /* color: rgba(173, 47, 47,9); */
    letter-spacing: 1.5px;
    font-size: 18px;
}

ul.list-misi {
    list-style-type: none;
}

ul.list-misi li::first-letter {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(173, 47, 47,9);
    /* font-family: 'Roboto'; */
}

ul.list-misi li {
    font-size: 1.5em;
    font-weight: 300;
    font-style: oblique;
}

.slider-front, .meeting-list {
    min-height: 500px;
}

.vertical-menu {
    top:130px;
}

div.slogan {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, rgba(200,29,29,.9), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Apple Chancery";
    letter-spacing: 1.2px;
    font-size: 16px;    
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
            animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }