@font-face {
  font-family: "Apple Chancery";
  src: url('../fonts/apple_chancery-webfont.woff2') format('woff2'),
       url('../fonts/apple_chancery-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal ;
}

.logo-txt {
    font-family: 'Times New Roman',Cinzel;
    font-weight: 700;
    /* color: rgba(173, 47, 47,9); */
    letter-spacing: 1.5px;
    font-size: 18px;
}

ul.list-misi {
    list-style-type: none;
}

ul.list-misi li::first-letter {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;
    color: rgba(173, 47, 47,9);
    /* font-family: 'Roboto'; */
}

.width-48 {
  width: 48px;
  height: 48px;
}

.photo-profile img {
  transition: transform .2s;
}

.photo-profile:hover img {
  transform: scale(2.5);
  cursor: pointer;
  z-index: 5;
}

.info-point {
  max-height: 40px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.bg-golden {
  background: rgb(221 169 74 / 55%);
}

.bg-golden::before {
  content: "\F01A5";
  color: rgba(255, 217, 3, 1);
  font-size: 25px;
  font-family: 'Material Design Icons';
  position: absolute;
  top: -.75rem;
}


.bg-silver {background: rgb(149 139 139 / 55%);}

.bg-silver::before {
  content: "\F01A5";
  color:silver;
  font-size: 25px;
  font-family: 'Material Design Icons';
  position: absolute;
  top: -.75rem;
}

.bg-bronze, .bg-bronze2 {
  background: rgb(205 127 50 / 55%);
}

.bg-bronze::before {
  content: "\F01A5";
  color: rgb(205 140 76);
  font-size: 25px;
  font-family: 'Material Design Icons';
  position: absolute;
  top: -.75rem;
}

.star-level {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.star-rising {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 201, 77, 1)), to(rgba(231, 154, 26, 1)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-star {
  font-size: 20px;
}

.star-left {
  transform: translateX(-2px) translateY(-2px) rotate(25deg);
}

.star-right {
  transform: translateX(-2px) translateY(-2px) rotate(45deg);
}

ul.list-misi li {
    font-size: 1.5em;
    font-weight: 300;
    font-style: oblique;
}

.slider-front, .meeting-list {
    min-height: 500px;
}

.point-level {
  min-height: 500px;
}

.vertical-menu {
    top:130px;
}

div.slogan {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, rgba(200,29,29,.9), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Apple Chancery";
    letter-spacing: 1.2px;
    font-size: 16px;    
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
            animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }

  .form-check-input-helpdesk {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 12px;
  }

  .badge.info-btn {
    background: var(--bs-secondary);
  }

  .badge.info-btn:hover {
    background: var(--bs-primary);
  }

  .callout {
    position: absolute;
    background-color: #f0ad4e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    top: -15px;
    right: 0;
}

.callout::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0px 10px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f0ad4e;
}

.blink-text {
  animation: blinkText 1.5s infinite;
}

.inputField {
  border: .15rem solid var(--bs-primary);
  animation: blinkBorder 2.5s linear infinite;
}

@keyframes blinkText {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blinkBorder {
  0%, 100% {
    border-color: var(--bs-primary);
  }
  50% {
    border-color: #cecece;
  }
}

body[data-layout-mode=dark] .table {
  color: #ccc;
}

body[data-layout-mode=dark] .text-visi {
  color: #ccc;
}

body[data-layout-mode=dark] .container {
  background-color: transparent;
}

.disabled-link {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}