@font-face {
  font-family: "Apple Chancery";
  src: url('../fonts/apple_chancery-webfont.woff2') format('woff2'),
       url('../fonts/apple_chancery-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal ;
}

.auth-full-page-content {
    height: 100vh;
    overflow: auto;
}

.logo-txt {
    letter-spacing: 2px;
    font-family: "Times New Roman";
}

span#slogan {
    font-weight: 600;
    color: rgba(200,29,29,.9);
    /* margin-left: 35px; */
}
/* 
div.carousel-caption::before {
    content: "";
    position: absolute;
} */


/* h5.judul::before {
    content: "";
    background-color: rgba(241, 233, 233, .5);

    width: 170px;
    height: 25px;
    position: absolute;

    border-radius: 50px;
} */

span#slogan {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, rgba(200,29,29,.9), transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: "Apple Chancery";
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  }
 
  @-webkit-keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @keyframes reveal {
    80% {
      letter-spacing: 1.5px;
    }
    100% {
      background-size: 300% 300%;
    }
  }
  @-webkit-keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 0 0 4px rgba(200,29,29,.9);
    }
  }